.main-wrapper{
    background: #ededed;
    width: 100%;
}

.liwidth{
    width:100%;
}
.leadarea {
    width: auto;
    background: #f8f8f8;
    padding: 5px 0px;
}

.borred {
    border: 0px solid red;
}
@m